<br><br>

<div class="card text-white bg-danger mb-3" >
  <h1 class="card-header">Clientes</h1>
  <div class="card-body">
    <h4 class="card-title">Listado de clientes</h4>

    <button class="btn btn-rounded btn-primary d-grid gap-2 col-6 mx-auto" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
    <br><br>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Fecha</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.createAt }}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<br><br><br><br><br><br>
